
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

* {
	box-sizing: border-box;
    
}
html, body {
    background:linear-gradient(to bottom, rgba(255, 143, 111), rgba(204, 182, 217));
    font-family: 'Roboto', sans-serif;
    color: rgba(58, 109, 239);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family:'Monofett', sans-serif;
    font-size: 80px;
    letter-spacing: 1.5px;
    color: rgba(185, 255, 111);
    text-shadow: 3px 5px rgb(217, 40, 144);
}

.pokeNameContainer{
    font-size: 80px;
    letter-spacing: 2px;
    color:rgba(58, 109, 239);
}
.card {
    width: 45%;
    height: 80%;
    background: whitesmoke;
    border: 5px solid rgba(185, 255, 111);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 4 2px 5px rgba(238, 231, 231, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
    margin: 3px;
}
.card:hover {
    filter:blur 5px;
    cursor: pointer;
    top: -20px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    animation: bounce 0.5s linear;
}
.card img {
    width: 100%;

}
.card p {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    
}
.search {
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid rgba(58, 109, 239);
    border-radius: 15px;
    background: rgba(185, 255, 111);
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
.searchTerm {
    width: 100%;
    border: 3px solid rgb(217, 40, 144);
    border-radius: 15px;
    background: rgb(244, 229, 250);
    padding: px;
    height: 36px;
    outline: none;
    color: gray;
}
/* Es el color del texto dentro del search */
.searchTerm:focus{
    font-size: medium;
    letter-spacing: 1.7px;
    color: rgb(58, 109, 239);
}

.wrap{
    margin: 5%;
}